tools/samples/python/export_data_to_stray_format/exported_data_stray_format
build/**
dist/**
website/yarn.lock
projectaria_tools.egg-info/**
projectaria_tools_dev.egg-info/**
.pixi/**
wheels/**
**/__pycache__/
**.DS_Store
